/* Navbar CSS */
body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    /* color: white; */
}

/* Navbar container */
#navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 0 30px;
    animation: fadeSlideDown 1s ease-in-out;
    /* box-shadow: 0 2px 2px rgba(249, 115, 22, 0.4), 0 2px rgba(251, 146, 60, 0.4), 0 0 2px rgba(249, 115, 22, 0.3); */
    font-family: 'Courier New', Courier, monospace;
}

/* Logo section */
#logo img {
    height: 60px;
    animation: pulse 3s infinite ease-in-out;
}

/* Navigation links */
#navbar ul {
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    list-style: none;

}

#navbar ul li a {
    font-size: 20px;
    background: linear-gradient(90deg, #f97316, #facc15, #f97316);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    /* Required for Safari */
    color: transparent;
    font-weight: bold;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    letter-spacing: 1px;
}

/* Underline hover animation */
#navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: rgb(158, 128, 16);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

#navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Animations */
@keyframes fadeSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.btn {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #fa6502, #de6508, #da6308);
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.4);
}

/* Hover Effect */
.btn:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 6px rgba(110, 110, 110, 0.7); */
    border: 2px solid rgb(232, 81, 0);
    color: rgb(255, 252, 252);
    background: #000000;
}

/* Glowing animated border */
.btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    /* background: conic-gradient(from 180deg, transparent, rgba(255, 69, 0, 0.5), transparent); */
    animation: rotate 2s linear infinite;
    z-index: 0;
}

.profile {
    position: relative;
    color: white;
}